[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/


.vs/
*.user
*.suo
*.rsuser
*.sln.docstates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sln.iml


project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

appsettings.Local.json
appsettings.Development.json
secrets.json

node_modules/
jspm_packages/
bower_components/

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.mdf
*.ldf

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_CrashReport.txt